<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

sección > 
  < div  class = "ejemplo-etiqueta" > Fab extendido </ div > 
  < div  class = "ejemplo-botón-fila" > 
    < div  class = "ejemplo-contenedor-flexible" > 
      < div  class = "ejemplo-botón-contenedor" > 
        < botón  mat-fab  extendido > 
          < mat-icon > favorito </ mat-icon >
          Básico
        </ botón > 
      </ div > 
      < div  clase = "botón-de-ejemplo-contenedor" > 
        < botón  mat-fab  extendido  deshabilitado > 
          < mat-icon > favorito </ mat-icon >
          Desactivado
        </ botón > 
      </ div > 
      < div  clase = "contenedor-de-botón-de-ejemplo" > 
        < un  enrutador extendido de mat-fab  Link = "." >  
          < mat-icon > favorito </ mat-icon >
          Enlace
        </ a > 
      </ div > 
    </ div > 
  </ div > 
</ sección >
